.outputOnlinepngtools1Icon {
  height: 58.5px;
  width: 114px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.headingFeatures {
  text-decoration: none;
  position: absolute;
  top: 0px;
  left: 0px;
  font-weight: 700;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 21px;
  min-width: 72px;
  cursor: pointer;
}
.headingPricing {
  text-decoration: none;
  position: absolute;
  top: 0px;
  left: 143px;
  font-weight: 700;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 21px;
  min-width: 55px;
  cursor: pointer;
}
.headingResources {
  text-decoration: none;
  position: absolute;
  top: 0px;
  left: 268px;
  font-weight: 700;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 84px;
  height: 21px;
  min-width: 84px;
  cursor: pointer;
}
.headings {
  margin: 0;
  height: 21px;
  flex: 1;
  position: relative;
  max-width: 100%;
  text-align: center;
  font-size: var(--text-single-uppercase-100-bold-size);
  color: var(--color-black);
  font-family: var(--text-single-200-regular);
}
.emailIcon {
  align-self: stretch;
  width: 33px;
  position: relative;
  max-height: 100%;
  min-height: 27px;
}
.headingResources1 {
  text-decoration: none;
  width: 84px;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  white-space: nowrap;
}
.emailParent {
  width: 171px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.headingsParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-52xl);
  max-width: 100%;
}
.frameWrapper {
  width: 594px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px 0px var(--padding-mini-5);
  box-sizing: border-box;
  max-width: 100%;
}
.outputOnlinepngtools1Parent {
  width: 1530px;
  background-color: var(--color-gainsboro-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-4xs) var(--padding-14xl) var(--padding-xs-5)
    var(--padding-60xl);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--text-single-300-bold-size);
  color: var(--color-black);
  font-family: var(--text-single-200-regular);
}

@media screen and (max-width: 800px) {
  .headingsParent {
    gap: var(--gap-16xl);
  }

  .outputOnlinepngtools1Parent {
    padding-left: var(--padding-20xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .headingsParent {
    gap: var(--gap-lg);
  }
}
