.outputOnlinepngtools1Icon {
  height: 58.5px;
  width: 114px;
  position: relative;
  object-fit: contain;
  display: flex;
  z-index: 1;
}
.outputOnlinepngtools1Icon:hover {
  display: flex;
  width: 114px;
  height: 58.5px;
}
.headingProduct {
  text-decoration: none;
  position: absolute;
  top: 0px;
  left: 0px;
  font-weight: 700;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 67px;
  height: 21px;
  min-width: 67;
}
.headingProduct:hover {
  font-weight: 700;
  font-family: var(--text-single-200-regular);
  font-size: var(--text-single-uppercase-100-bold-size);
  text-align: center;
  color: var(--color-black);
  display: flex;
  width: 67px;
  height: 21px;
  min-width: 67;
}
.headingFeatures {
  text-decoration: none;
  position: absolute;
  top: 0px;
  left: 138px;
  font-weight: 700;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 21px;
  min-width: 72;
}
.headingFeatures:hover {
  font-weight: 700;
  font-family: var(--text-single-200-regular);
  font-size: var(--text-single-uppercase-100-bold-size);
  text-align: center;
  color: var(--color-black);
  display: flex;
  width: 72px;
  height: 21px;
  min-width: 72;
}
.headingPricing {
  text-decoration: none;
  position: absolute;
  top: 0px;
  left: 281px;
  font-weight: 700;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 21px;
  min-width: 55;
  cursor: pointer;
}
.headingPricing:hover {
  font-weight: 700;
  font-family: var(--text-single-200-regular);
  font-size: var(--text-single-uppercase-100-bold-size);
  text-align: center;
  color: var(--color-black);
  display: flex;
  width: 55px;
  height: 21px;
  min-width: 55;
}
.headingResources {
  text-decoration: none;
  position: absolute;
  top: 0px;
  left: 406px;
  font-weight: 700;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 84px;
  height: 21px;
  min-width: 84;
  cursor: pointer;
}
.headingResources:hover {
  font-weight: 700;
  font-family: var(--text-single-200-regular);
  font-size: var(--text-single-uppercase-100-bold-size);
  text-align: center;
  color: var(--color-black);
  display: flex;
  width: 84px;
  height: 21px;
  min-width: 84;
}
.headings {
  margin: 0;
  height: 21px;
  flex: 1;
  position: relative;
  max-width: 100%;
  display: flex;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  text-align: center;
  font-size: var(--text-single-uppercase-100-bold-size);
  color: var(--color-black);
  font-family: var(--text-single-200-regular);
}
.headings:hover {
  display: flex;
  flex: 1;
  height: 21px;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  max-width: 100%;
}
.emailIcon {
  align-self: stretch;
  width: 33px;
  position: relative;
  max-height: 100%;
  min-height: 27;
  display: flex;
  height: auto;
  gap: var(--gap-5xl);
}
.emailIcon:hover {
  display: flex;
  width: 33px;
  align-self: stretch;
  height: auto;
  gap: var(--gap-5xl);
  min-height: 27;
}
.headingResources1 {
  text-decoration: none;
  width: 84px;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  white-space: nowrap;
  height: auto;
  cursor: pointer;
}
.headingResources1:hover {
  font-weight: 700;
  font-family: var(--text-single-200-regular);
  font-size: var(--text-single-300-bold-size);
  text-align: center;
  color: var(--color-black);
  display: flex;
  width: 84px;
  height: auto;
  white-space: nowrap;
}
.emailParent {
  width: 171px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  height: auto;
  transform: rotate(0deg);
}
.emailParent:hover {
  display: flex;
  width: 171px;
  height: auto;
  flex-direction: row;
  gap: var(--gap-xl);
  align-items: flex-start;
  justify-content: space-between;
  transform: rotate(0deg);
}
.headingsParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-52xl);
  max-width: 100%;
  width: auto;
  height: auto;
  transform: rotate(0deg);
}
.headingsParent:hover {
  display: flex;
  align-self: stretch;
  width: auto;
  height: auto;
  flex-direction: row;
  gap: var(--gap-52xl);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  max-width: 100%;
}
.frameWrapper {
  width: 732px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px 0px var(--padding-mini-5);
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
}
.frameWrapper:hover {
  display: flex;
  width: 732px;
  height: auto;
  flex-direction: column;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-end;
  transform: rotate(0deg);
  padding: 0px 0px var(--padding-mini-5);
  box-sizing: border-box;
  max-width: 100%;
}
.outputOnlinepngtools1Parent {
  width: 1530px;
  background-color: var(--color-gainsboro);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-4xs) var(--padding-14xl) var(--padding-xs-5)
    var(--padding-60xl);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  max-width: 100%;
  height: auto;
  text-align: center;
  font-size: var(--text-single-300-bold-size);
  color: var(--color-black);
  font-family: var(--text-single-200-regular);
}
.outputOnlinepngtools1Parent:hover {
  background-color: var(--color-gainsboro);
  display: flex;
  width: 1530px;
  height: auto;
  flex-direction: row;
  gap: var(--gap-xl);
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-4xs) var(--padding-14xl) var(--padding-xs-5)
    var(--padding-60xl);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
}
