.pricing {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.pricingHeadingContainer {
  width: 441px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px var(--padding-9xs) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.simpleAndTransparent {
  position: relative;
}
.pricingDescriptionContainer {
  width: 441px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px var(--padding-9xs) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-5xl);
}
.freeForBeta {
  margin: 0;
  height: 55px;
  position: relative;
  font-size: var(--font-size-23xl);
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.contactUs {
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--text-single-200-regular);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  min-width: 123px;
}
.contactUsWrapper {
  cursor: pointer;
  border: none;
  padding: var(--padding-2xs) var(--padding-xl) var(--padding-xs);
  background-color: var(--color-lightsalmon);
  border-radius: var(--br-11xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.contactUsWrapper:hover {
  background-color: var(--color-sienna);
}
.contactContainer {
  width: 441px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px var(--padding-10xs) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.page3 {
  align-self: stretch;
  background: linear-gradient(180deg, #2d8062, #355c4f);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-89xl) var(--padding-xl) var(--padding-89xl)
    var(--padding-4xl);
  box-sizing: border-box;
  gap: var(--gap-39xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--white);
  font-family: var(--text-single-200-regular);
}

@media screen and (max-width: 825px) {
  .pricing {
    font-size: var(--font-size-19xl);
  }

  .freeForBeta {
    font-size: var(--font-size-15xl);
  }

  .page3 {
    gap: var(--gap-10xl);
    padding-top: var(--padding-51xl);
    padding-bottom: var(--padding-51xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .pricing {
    font-size: var(--font-size-10xl);
  }

  .simpleAndTransparent {
    font-size: var(--font-size-lgi);
  }

  .freeForBeta {
    font-size: var(--font-size-6xl);
  }
}
