.checkCircleIcon {
  position: absolute;
  height: 100%;
  width: 6.86%;
  top: 0%;
  right: 93.14%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.text {
  position: absolute;
  top: 4px;
  left: 40px;
  line-height: 18px;
}
.newsInfo {
  width: 379px;
  height: 26px;
  position: relative;
  display: none;
  max-width: 100%;
}
.inputIconLeft {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.heading {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 46px;
  font-weight: 700;
  font-family: inherit;
}
.headingWrapper {
  width: 476px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) 0px 0px;
  box-sizing: border-box;
  min-width: 476px;
  max-width: 100%;
}
.inputPlaceholder {
  position: relative;
  line-height: 18px;
}
.inputPlaceholderWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lg) 0px 0px;
}
.buttonText {
  position: relative;
  font-size: var(--text-single-uppercase-100-bold-size);
  letter-spacing: 0.1em;
  line-height: 18px;
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--text-single-200-regular);
  color: var(--color-black);
  text-align: center;
  min-width: 89px;
}
.lineRoundedarrowRight {
  height: 18px;
  width: 18px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 18px;
}
.masterPrimaryButton {
  cursor: pointer;
  border: none;
  padding: var(--padding-lg) var(--padding-5xl);
  background-color: var(--color-lightsalmon);
  border-radius: var(--br-11xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.masterPrimaryButton:hover {
  background-color: var(--color-sienna);
}
.frameGroup {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.divider {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-lavender);
  box-sizing: border-box;
}
.frameParent {
  width: 535px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
  max-width: 100%;
  font-size: var(--text-single-200-regular-size);
}
.inputContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.inputContainerWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-5xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--headings-h2-size);
}
.lodgr {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 46px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 102px;
}
.footerTitle {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 79px;
}
.footerTitle1 {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 95px;
}
.footerTitle2 {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 91px;
}
.singleTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0px 0px;
}
.footerTitles {
  width: 495px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--text-single-300-bold-size);
}
.footerTop {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.footerContent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px var(--padding-12xs) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.lineRoundedpasswordIcon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.features {
  position: relative;
  line-height: 18px;
  display: inline-block;
  min-width: 72px;
}
.masterLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.pricing {
  text-decoration: none;
  position: relative;
  line-height: 18px;
  color: inherit;
  display: inline-block;
  min-width: 57px;
}
.link1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-6xs);
}
.updates {
  position: relative;
  line-height: 18px;
  display: inline-block;
  min-width: 70px;
}
.link2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-11xs) 0px 0px;
}
.linkParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs-5) 0px;
  gap: var(--gap-11xl);
}
.about {
  text-decoration: none;
  position: relative;
  line-height: 18px;
  color: inherit;
  display: inline-block;
  min-width: 52px;
}
.contactUs {
  text-decoration: none;
  position: relative;
  line-height: 18px;
  color: inherit;
  display: inline-block;
  min-width: 92px;
}
.careers {
  text-decoration: none;
  position: relative;
  line-height: 18px;
  color: inherit;
  display: inline-block;
  min-width: 66px;
}
.blog {
  text-decoration: none;
  position: relative;
  line-height: 18px;
  color: inherit;
  display: inline-block;
  min-width: 36px;
}
.linkGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.linkedin {
  text-decoration: none;
  position: relative;
  line-height: 18px;
  color: inherit;
  display: inline-block;
  min-width: 69px;
}
.masterLink7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.instagram {
  text-decoration: none;
  position: relative;
  line-height: 18px;
  color: inherit;
  display: inline-block;
  min-width: 83px;
}
.link8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-4xs) 0px 0px;
}
.twitter {
  text-decoration: none;
  position: relative;
  line-height: 18px;
  color: inherit;
  display: inline-block;
  min-width: 58px;
}
.socialContainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.socialLinks {
  width: 92px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0px 0px;
  box-sizing: border-box;
}
.linksContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.footerLinks {
  width: 495.7px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  text-align: center;
  font-size: var(--text-single-200-regular-size);
}
.footerContentParent {
  width: 1205px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-3xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--headings-h2-size);
  color: var(--white);
  font-family: var(--text-single-200-regular);
}
.page4 {
  align-self: stretch;
  background: linear-gradient(180deg, #355c4f, #000);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-148xl) var(--padding-128xl) var(--padding-109xl);
  box-sizing: border-box;
  gap: var(--gap-253xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--text-single-200-regular-size);
  color: var(--white);
  font-family: var(--text-single-200-regular);
}

@media screen and (max-width: 1350px) {
  .headingWrapper {
    flex: 1;
  }

  .inputContainer {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1150px) {
  .headingWrapper {
    min-width: 100%;
  }

  .page4 {
    padding-top: var(--padding-90xl);
    padding-bottom: var(--padding-64xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .heading {
    font-size: var(--font-size-10xl);
    line-height: 37px;
  }

  .lodgr {
    font-size: var(--font-size-10xl);
    line-height: 37px;
  }

  .footerTop {
    flex-wrap: wrap;
  }

  .page4 {
    gap: var(--gap-117xl);
    padding-left: var(--padding-54xl);
    padding-right: var(--padding-54xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading {
    font-size: var(--font-size-3xl);
    line-height: 28px;
  }

  .frameGroup {
    flex-wrap: wrap;
  }

  .lodgr {
    font-size: var(--font-size-3xl);
    line-height: 28px;
  }

  .footerTitle {
    font-size: var(--text-single-uppercase-100-bold-size);
    line-height: 16px;
  }

  .footerTitle1 {
    font-size: var(--text-single-uppercase-100-bold-size);
    line-height: 16px;
  }

  .footerTitle2 {
    font-size: var(--text-single-uppercase-100-bold-size);
    line-height: 16px;
  }

  .linksContainer {
    flex-wrap: wrap;
  }

  .page4 {
    gap: var(--gap-49xl);
    padding: var(--padding-52xl) var(--padding-xl) var(--padding-35xl);
    box-sizing: border-box;
  }
}
