.aSoftwareTool {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  color: white;
}
.aSoftwareToolToAutomateYoWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-4xl) 0px var(--padding-3xl);
  box-sizing: border-box;
  max-width: 100%;
}
.ourCuttingEdgeAi {
  margin-block-start: 0;
  margin-block-end: 10px;
  color: white;
}
.allowingYouSit {
  margin-bottom: 20px;
  color: white;
}
.ourCuttingEdgeAiContainer {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-3xl);
}
.softwareDescriptionContainer {
  width: 831px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  max-width: 100%;
}
.softwareDescriptionContainerWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 0px var(--padding-12xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--headings-h2-size);
}
.answerGuestsUsingContainer {
  margin-bottom: -2px;
  margin: 0;
  height: 130px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.bookingConversionItem {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.beItPhone {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-3xl);
  flex-shrink: 0;
}
.conversionFeatureItems {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  max-width: 100%;
}
.bookingFeatureItems {
  width: 628px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-33xl) 0px 0px;
  box-sizing: border-box;
  min-width: 628px;
  max-width: 100%;
}
.service1Icon {
  width: 527.7px;
  position: relative;
  border-radius: var(--br-xl);
  max-height: 100%;
  object-fit: cover;
  flex-shrink: 0;
  max-width: 100%;
}
.bookingFeatures {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.featuresGrid {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px var(--padding-10xs);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
}
.reviewTasks1 {
  width: 608px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.turnGuestReviews {
  margin-bottom: 20px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  color: white;
}
.goThroughGuestContainer {
  flex: 1;
  position: relative;
  letter-spacing: 0.1px;
  line-height: 20px;
  display: inline-block;
  max-width: 100%;
}
.reviewInsightsFeatureItem {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px var(--padding-10xs) 0px var(--padding-7xs);
  box-sizing: border-box;
  max-width: 100%;
  text-align: right;
  font-size: var(--font-size-3xl);
}
.reviewFeatureItems {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 100%;
}
.reviewFeatures {
  width: 614px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-89xl) 0px 0px;
  box-sizing: border-box;
  min-width: 614px;
  max-width: 100%;
}
.featuresGrid1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.convertAvailabilityTo {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 400;
  font-family: inherit;
  color: white;
}

.trackOpenNightsContainer1 {
  width: 100%;
}
.trackOpenNightsContainer {
  width: 562px;
  position: relative;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.1px;
  line-height: 20px;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin-top: -50px;
}
.convertAvailabilityToBookinParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-51xl);
  max-width: 100%;
}
.frameWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-105xl) 0px 0px;
  box-sizing: border-box;
  min-width: 446px;
  max-width: 100%;
}
.booking1Icon {
  width: 623.8px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.frameParent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-43xl);
  max-width: 100%;
}
.featuresGrid2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px var(--padding-10xs);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-29xl);
}
.local1Icon {
  width: 403.8px;
  position: relative;
  border-radius: var(--br-xl);
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.enhanceGuestExperiences {
  margin: 0;
  width: 686px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  max-width: 100%;
  color: white;
}
.suggestLocalRestaurantsContainer {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.1px;
  line-height: 20px;
}
.enhanceGuestExperiencesParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-36xl);
  max-width: 100%;
}
.experienceDescriptionContain {
  width: 724px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-87xl) 0px 0px;
  box-sizing: border-box;
  min-width: 724px;
  max-width: 100%;
}
.localExperienceContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.localExperienceContainerWrapper {
  width: 1275px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px var(--padding-10xs);
  box-sizing: border-box;
  max-width: 100%;
  text-align: right;
  font-size: var(--font-size-29xl);
}
.page2 {
  align-self: stretch;
  background: linear-gradient(180deg, #0e2e23, #2d8062);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-71xl) var(--padding-57xl) var(--padding-98xl);
  box-sizing: border-box;
  gap: var(--gap-215xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-27xl);
  color: var(--white);
  font-family: var(--text-single-200-regular);
}

@media screen and (max-width: 1400px) {
  .bookingFeatureItems {
    flex: 1;
  }

  .service1Icon {
    flex: 1;
  }

  .bookingFeatures {
    flex-wrap: wrap;
    justify-content: center;
  }

  .reviewTasks1 {
    flex: 1;
  }

  .reviewFeatures {
    flex: 1;
  }

  .featuresGrid1 {
    flex-wrap: wrap;
  }

  .booking1Icon {
    flex: 1;
  }

  .frameParent {
    flex-wrap: wrap;
  }

  .local1Icon {
    flex: 1;
  }

  .experienceDescriptionContain {
    flex: 1;
  }

  .localExperienceContainer {
    flex-wrap: wrap;
  }

  .page2 {
    padding-top: var(--padding-19xl);
    padding-bottom: var(--padding-30xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1200px) {
  .bookingFeatureItems {
    min-width: 100%;
  }

  .experienceDescriptionContain {
    min-width: 100%;
  }
}
@media screen and (max-width: 825px) {
  .aSoftwareTool {
    font-size: var(--font-size-10xl);
  }

  .answerGuestsUsingContainer {
    font-size: var(--font-size-18xl);
  }

  .turnGuestReviews {
    font-size: var(--font-size-18xl);
  }

  .reviewFeatures {
    min-width: 100%;
  }

  .convertAvailabilityTo {
    font-size: var(--font-size-19xl);
    line-height: 16px;
  }

  .convertAvailabilityToBookinParent {
    gap: var(--gap-16xl);
  }

  .frameWrapper {
    min-width: 100%;
  }

  .frameParent {
    gap: var(--gap-12xl);
  }

  .enhanceGuestExperiences {
    font-size: var(--font-size-19xl);
    line-height: 16px;
  }

  .enhanceGuestExperiencesParent {
    gap: var(--gap-8xl);
  }

  .page2 {
    gap: var(--gap-98xl);
    padding: var(--padding-6xl) var(--padding-19xl) var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .aSoftwareTool {
    font-size: var(--font-size-3xl);
  }

  .ourCuttingEdgeAiContainer {
    font-size: var(--text-single-200-regular-size);
  }

  .answerGuestsUsingContainer {
    font-size: var(--font-size-9xl);
  }

  .beItPhone {
    font-size: var(--text-single-200-regular-size);
  }

  .turnGuestReviews {
    font-size: var(--font-size-9xl);
  }

  .goThroughGuestContainer {
    font-size: var(--text-single-200-regular-size);
    line-height: 16px;
  }

  .convertAvailabilityTo {
    font-size: var(--font-size-10xl);
    line-height: 12px;
  }

  .trackOpenNightsContainer {
    font-size: var(--font-size-lgi);
    line-height: 16px;
  }

  .convertAvailabilityToBookinParent {
    gap: var(--gap-mid);
  }

  .frameParent {
    gap: var(--gap-mini);
  }

  .enhanceGuestExperiences {
    font-size: var(--font-size-10xl);
    line-height: 12px;
  }

  .suggestLocalRestaurantsContainer {
    font-size: var(--font-size-lgi);
    line-height: 16px;
  }

  .page2 {
    gap: var(--gap-39xl);
  }
}
