.pricing {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
}
.pricing:hover {
  font-family: var(--text-single-200-regular);
  font-size: var(--font-size-29xl);
  text-align: left;
  color: var(--color-white);
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
}
.pricingWrapper {
  width: 441px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px var(--padding-9xs) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
}
.pricingWrapper:hover {
  display: flex;
  width: 441px;
  height: auto;
  flex-direction: row;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: center;
  transform: rotate(0deg);
  padding: 0px var(--padding-9xs) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.simpleAndTransparent {
  position: relative;
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
}
.simpleAndTransparent:hover {
  font-family: var(--text-single-200-regular);
  font-size: var(--font-size-5xl);
  text-align: center;
  color: var(--color-white);
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
}
.simpleAndTransparentWrapper {
  width: 441px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px var(--padding-9xs) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
  text-align: center;
  font-size: var(--font-size-5xl);
}
.simpleAndTransparentWrapper:hover {
  display: flex;
  width: 441px;
  height: auto;
  flex-direction: row;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: center;
  transform: rotate(0deg);
  padding: 0px var(--padding-9xs) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.freeForBeta {
  margin: 0;
  height: auto;
  position: relative;
  font-size: var(--font-size-23xl);
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  max-width: 100%;
  width: auto;
  align-self: unset;
}
.freeForBeta:hover {
  font-family: var(--text-single-200-regular);
  font-size: var(--font-size-23xl);
  text-align: left;
  color: var(--color-white);
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  max-width: 100%;
}
.contactUs {
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--text-single-200-regular);
  color: var(--color-black);
  text-align: center;
  display: flex;
  min-width: 123;
  width: auto;
  align-self: unset;
  height: auto;
}
.contactUs:hover {
  font-family: var(--text-single-200-regular);
  font-size: var(--font-size-5xl);
  text-align: center;
  color: var(--color-black);
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  min-width: 123;
}
.contactUsWrapper {
  cursor: pointer;
  border: none;
  padding: var(--padding-2xs) var(--padding-xl) var(--padding-xs);
  background-color: var(--color-sienna);
  border-radius: var(--br-11xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  white-space: nowrap;
  width: auto;
  align-self: unset;
  height: auto;
  gap: var(--gap-0);
}
.contactUsWrapper:hover {
  background-color: var(--color-lightsalmon);
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  flex-direction: row;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: var(--br-11xl);
  padding: var(--padding-2xs) var(--padding-xl) var(--padding-xs);
  box-sizing: border-box;
  white-space: nowrap;
}
.contactUsWrapper:active {
  background-color: var(--color-sienna);
}
.page3Inner {
  width: 441px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px var(--padding-10xs) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
}
.page3Inner:hover {
  display: flex;
  width: 441px;
  height: auto;
  flex-direction: row;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: center;
  transform: rotate(0deg);
  padding: 0px var(--padding-10xs) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.page3 {
  align-self: stretch;
  background: linear-gradient(180deg, #2d8062, #355c4f);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-89xl) var(--padding-xl) var(--padding-89xl)
    var(--padding-4xl);
  box-sizing: border-box;
  gap: var(--gap-39xl);
  max-width: 100%;
  width: auto;
  height: auto;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--text-single-200-regular);
}
.page3:hover {
  background: linear-gradient(180deg, #2d8062, #355c4f);
  display: flex;
  align-self: stretch;
  width: auto;
  height: auto;
  flex-direction: column;
  gap: var(--gap-39xl);
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-89xl) var(--padding-xl) var(--padding-89xl)
    var(--padding-4xl);
  box-sizing: border-box;
  max-width: 100%;
}
